{% extends "base.html" %}
{% block title %}404 Error Page{% endblock %}


{% block content %}
    <style>
        h1 {
            font-size: 100px;
        }

        p {

        }

        img {
            width:400px;
        }

        div {
            text-align: center
        }

    </style>
</head>
<body>
    <div style="padding-top:100px">
        <img src="/static/Images/SadFaceEmoji.png">
        <h1>404 Error</h1>
        <p>The link has been broken or changed. Please select another link in the navigation bar</p>
    </div>
{% endblock %}
