{% extends "base.html" %}
{% block title %}Tech Haven - Home{% endblock %}

{% block content %}
<style>
.img-container {
    height: 300px;
    display: flex;
    align-items: center;
    background-color: white;

}

.portfolio-hover {
    height: 300px;


:oof{
color: white;
}
</style>
   <div><section id="contact" style="background-image:url('static/Images/Contact Us/map-image.png');">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="text-uppercase section-heading">About Us</h2>
                  <h3 style="color:white;">Tech Haven is a company that sells computer parts locally.</h3>
                  <h3 style="color:white;" >All of our products come straight out of the production factory.</h3>
                  <h3  style="color:white;">Our team hopes to bring you the best product you can buy for cheap.</h3>
                  <h3  style="color:white;">Tech Haven Team hopes you have a pleasant shopping experience.</h3>
              </div>
          </div>



      </div>
  </section>
   </div>
{% endblock %}
