{% extends "base.html" %}
{% block title %}Review Product{% endblock %}

{% block content %}

<style>


.PFP{

    height: 200px;
    width: 300px;
}

  .form {border: 5px solid #f1f1f1; width: 80%; height: 100%; display: in-block; padding: 20px 40px; margin: auto;}
  .form-group {width: 100%;}
  .container {padding: 20px 60px;}
  .btn-holder{text-align: center;}
  .form-right {color:white;}


</style>



<body class="form-v10">

<div class="page-content">
  <div class="form-v10-content">
  {% if 'profile_updated' in session %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('profile_updated', None) }}
</div>
{% endif %}
<div class="form-detail">

    <div class="form-left">
      <h2>General Infomation</h2>



    <div class="form-group">

    <div class="form-row form-row-1">
     <div class="profpic">
                {% if g.user.avatar %}
                <img src="{{ g.user.avatar }}" class ="PFP">
                {% else %}
                <img src="/static/img/avatars/default.jpg" class ="PFP">
                {% endif %}
     </div>
    </div>


     <div class="form-row form-row-2">
        <strong class="label">Full Name: </strong>{{ g.user.get_full_name() }}
     </div>



     <div class="form-row form-row-3">
         <strong class="label">First Name: </strong>{{ g.user.get_first_name() }}
     </div>





     <div class="form-row form-row-4">
         <strong class="label">Last Name: </strong>{{ g.user.get_last_name() }}
     </div>


    </div>









  <div class="form-right">
    <h2>Contact Details</h2>

      <div class="form-group">
      <div class="form-row form-row-1">
         <strong class="label"> Street: </strong>{{ g.user.get_street() }}
      </div>
      </div>

      <div class="form-group">
      <div class="form-row form-row-3">
         <strong class="label"> Postal Code: </strong>{{ g.user.get_postal_code() }}
      </div>
      </div>


      <div class="form-group">
      <div class="form-row form-row-5">
        <strong class="label"> Unit Number: </strong>{{ g.user.get_unit_number() }}
      </div>
      </div>


      <div class="form-group">
      <div class="form-row form-row-6">
      <strong class="label"> Mobile Number: </strong>{{ g.user.get_mobile_number() }}
      </div>
      </div>

      <div class="form-group">
      <div class="form-row form-row-7">
          <strong class="label">Email Address: </strong>{{ g.user.get_email() }}
      </div>
      </div>


  <div class="form-row-last">
      <a href="{{url_for('update_profile', id=g.user.get_user_id())}}"><button class="register" class="btn btn-primary" style="width: 40%">Update Profile</button></a>

    </div>






<!--    <div class="form-row-last">-->
<!--{% if 'profile_updated' in session %}-->
<!--    <div class="alert alert-success alert-dismissible">-->
<!--      <button type="button" class="close" data-dismiss="alert">&times;</button>-->
<!--      {{ session.pop('profile_updated', None) }}-->
<!--    </div>-->
<!--    {% endif %}-->

<!--    </div>-->

  </div>
</div>
  </div>
  </div>
</div>
</body>

{% endblock %}
